{% load static %}

{% for task in tasks %}

<div class="task_container">
  <h4>Задача № {{task.id}}</h4>
  <p> Заказчик: {{task.author}} | Исполнитель: {{task.executor}} | Статус: {{ task.get_status_display }} | Тип: {{ task.get_tasktype_display }}</p>
  <p>Описание: </p>
  <p>{{task.description}}</p>
  <p>{{task.files}}</p>
  <a href="{% url 'mytasks:delete' %}">Взять задачу</a>
  <hr>
  <h4>Комментарии</h4>
  {% for comment in comments %}

  <p>{{comment}}</p>
  {% endfor %}

</div>
{% endfor %}
