.page_style {
    margin-left: 2em;
    margin-top: 1em;
    padding-bottom: 2em;

}

.page_style_account {
    margin-left: 5em;
    margin-top: 1em;
    margin-right: 40em;
    padding-bottom: 10em;

}