.task_container {
    background-color: #e8e8e8;
    margin: 50px 500px 50px 50px;
    padding: 15px 15px 15px 15px;
    border-radius: 30px;
    border-width: 100px;
    border: 3px solid black;
}


.main_page {
    background-color: #e8e8e8;
    margin: 50px 500px 50px 50px;
    padding: 15px 15px 15px 15px;
    border-radius: 30px;
    border-width: 100px;
    border: 3px solid black;
}

.comment_style {
    background-color: rgb(191, 201, 199);
    border-radius: 1%;
    border-width: 100px;

}