{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    {% comment %}  {% endcomment %}
    {% comment %} <script src={% static 'js/login_script.js' %} defer></script> {% endcomment %}
    {% comment %} <script type="text/javascript" src={% static "js/login_script.js" %}></script> {% endcomment %}
    
</head>
<body>
    <img class='main_logo' src="{% static 'images/TSlogo.png' %}">
    <article class='container'>
        <div class='block'>
        <section class ="block__item block-item">
            <h2 class="block-item__title">У вас уже есть аккаунт?</h2>
            <button class="block-item__btn signin-btn">Войти</button>
        </section>
        <section class ="block__item block-item">
            <h2 class="block-item__title">У вас нет аккаунта?</h2>
            <button class="block-item__btn signup-btn">Зарегестрироваться</button>
        </section>
    </div>
    
<div class="form-box">

    <form class="form form_signin" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h3 class="form__title">Вход</h3>
        <p>
            <input class="form__input" type="text" name="username" placeholder="Логин">
        </p>

        <p>
            <input class="form__input" type="password" name="password" placeholder="Пароль">
        </p>
        {% comment %} <p class="user-activate">{% if request.user.is_active == False %} Пользователь не активирован! {% endif %} </p> {% endcomment %}       
        <p>
            <input class="form__btn" type="submit" value="Войти"/>
        </p>
        <p>
            <a href='#' class="form_forgot">Восстановить пароль</a>
        </p>

    </form>


    <form class="form form_signup" action="{% url 'login' %}" method="post" >
        {% csrf_token %}
        {% comment %} <p>{{form_create.username}}</p>
        <p>{{form_create.password}}</p>
        <p>{{form_create.password2}}</p> {% endcomment %}
        <h3 class="form__title">Регистрация</h3>
        <p>
            <input class="form__input" type="text" name="username" placeholder="Логин">
        </p>       
        <p>
            <input class="form__input" type="password" name="password1" placeholder="Пароль">
        </p>
        <p>
            <input class="form__input" type="password" name="password2" placeholder="Повторите пароль">
        </p>
        
        <p>
            <input class="form__btn form__btn_signup" type="submit" value="Зарегестрироваться"/>
        </p>
        {% if form_create.errors %}
        <ul>
            {% for field in form_create %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    </form>

</div>

    </article>

    <script type="text/javascript" src="{% static 'js/login_script.js' %}"></script>  
</body>
</html>