{% load static %}
{% include 'mainapp/includes/menu_inc.html' %}
<h3>Все пользователи</h3>
<hr>
<a href ="{% url 'auth:create_user' %}" >Создать пользователя </a>
<hr>

{% for user in users %}

<ul>{{user.username}} - {{user.LastAuthDate}} <a href ="{% url 'edit_user' user.id %}">Изменить  </a>  <a href ="{% url 'delete_user' user.id %}">Удалить </a> </ul>
{% endfor %}

<h3>Требуют активации</h3>
{% for user in non_active_user %}
<ul><p> Статус {{user.username}} - {{user.is_active}}</p></ul>
{% endfor %}
