{% load static %}
{% include 'mainapp/includes/menu_inc.html' %}
<div class='page_style'>
<h3>Созданные задачи:</h3>

{% for task in tasks %}

<div class="task_container">
    
  <a href={%url 'task' task.id %}><h4>Задача № {{task.id}}</h4></a>
  <p> Заказчик: {{task.author}} | Исполнитель: {{task.executor}} | Статус: {{ task.status }} | Тип: {{ task.tasktype }}</p>
  <p>Описание: </p>
  <p>{{task.title}}</p>
  <p>{{task.files}}</p>
  <a class ='button' href="{% url 'edit_creation_tasks' task.pk %}">Редактирование</a>
  <a class ='button' href="{% url 'creation_tasks_delete' task.pk %}">Снять задачу</a>
 


</div>
{% endfor %}
</div>
</body>



</html>