{% load static %}

{% include 'mainapp/includes/menu_inc.html'%}
<br>
<div class='page_style'>
    {% block content %}
    <div class="scrum-board" droppable='true'>
    {% for status in statuses %}
      <div class="scrum-column" droppable='true'>
        <h2>{{status.name}}</h2>
        <h2>{{status.next_status}}</h2>
        <ul class="scrum-list" id="todo-list" >
          {% for item in todo %}
          <li class='task_item todo-list' draggable="true"> {{item.tasktype}}
            <p><a href={%url 'task' item.id %}> Задача № {{item.id}}</a> {{ item.title }}</p>
            <p>Автор: {{item.author}}</p>
            <p>Исполнитель: {{item.executor}}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      {%endfor%}
      {%endblock%}
<script type="text/javascript" src="{% static 'js/scrum.js' %}"></script>  
</body>
</html>