{% load static %}

{% include 'mainapp/includes/menu_inc.html'%}
<br>
<div class='page_style'>
    {% block content %}
    <div class="scrum-board">
      <div class="scrum-column">
        <h2>В ожидании</h2>
        <ul class="scrum-list" id="todo-list">
          {% for item in todo %}
          <li class='task_item todo-list'>{{ item.title }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="scrum-column">
        <h2>В работе</h2>
        <ul class="scrum-list" id="in-progress-list">
          {% for item in in_progress %}
          <li class='task_item in-progress-list'>{{ item.title }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="scrum-column">
        <h2>Выполнены</h2>
        <ul class="scrum-list " id="done-list">
          {% for item in done %}
          <li class='task_item done_list'>{{ item.title }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="scrum-column">
        <h2>Доработка</h2>
        <ul class="scrum-list" id="rework-list">
          {% for item in rework %}
          <li class='task_item rework-list'>{{ item.title }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endblock %}
</div>
</body>
</html>